body{
    background-color:rgb(245, 0, 253);
    height: 600px;
}

.box{
    height: 800px;
    display: grid;
    grid-template-areas: "topo topo topo"
                          "mL cont mR";
    grid-template-rows: 50px 1fr 90px;
    grid-template-columns: 100px 1fr 100px;

}

.titulo{
    background-color:red;
    grid-area: topo;
    
}

.menuE{
    background-color: rgb(0, 255, 0);
    grid-area: mL;
    
}

.conteudo{
    background-color: blue;
    grid-area: cont;
}

.menuR{
    background-color: yellow;
    grid-area: mR;
    
}