body{
 background-color: aqua;
}

.box{
    background-color: black;
    height: 600px;
    display: grid;
    grid-template-areas: 'n1 n8 n8 n8 n8 n2'
                         'n3 n8 n8 n8 n8 n4'
                         'n5 n8 n8 n8 n8 n6'
                         'n7 n8 n8 n8 n8 n9'
                         'n10 n11 n12 n13 n14 n15';
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
}

.n1{
   background-color: blue;
   grid-area:n1;
}

.n2{
    background-color: blue;
    grid-area: n2;
}

.n3{
    background-color: blue;
    grid-area: n3;
}

.n4{
    background-color: blue;
    grid-area: n4;
}

.n5{
    background-color: blue;
    grid-area: n5;
}

.n6{
    background-color: blue;
    grid-area: n6;
}

.n7{
    background-color: blue;
    grid-area: n7;
}

.n8{
    background-color: white;
    grid-area: n8;
}

.n9{
    background-color: blue;
    grid-area: n9;
}

.n10{
    background-color: blue;
    grid-area: n10;
}

.n11{
    background-color: blue;
    grid-area: n11;
}

.n12{
    background-color: blue;
    grid-area: n12;
}

.n13{
    background-color: blue;
    grid-area: n13;
}

.n14{
    background-color: blue;
    grid-area: n14;
}

.n15{
    background-color: blue;
    grid-area: n15;
}   